@import 'tailwindcss';

body {
  @apply bg-gray-100 text-gray-600;
  background-color: var(--bg);
  color: var(--fg);
}

:root {
  --color-rise: #16a34a; /* green-600 */
  --color-fall: #ef4444; /* red-500 */
  --color-blue: #3b82f6; /* blue-600 */
  --color-gray: #64748b; /* slate-500 */

  --font-size-h1: 60px;
  --font-size-h2: 48px;
  --font-size-h3: 40px;
  --font-size-h4: 32px;
  --font-size-h5: 24px;
  --font-size-subtitle1: 48px;
  --font-size-subtitle2: 40px;
  --font-size-subtitle3: 32px;
  --font-size-subtitle4: 24px;
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xs: 13px;
  --font-size-caption: 11px;

  --line-height-h1: 80px;
  --line-height-h2: 64px;
  --line-height-h3: 52px;
  --line-height-h4: 40px;
  --line-height-h5: 36px;
  --line-height-subtitle1: 64px;
  --line-height-subtitle2: 52px;
  --line-height-subtitle3: 40px;
  --line-height-subtitle4: 36px;
  --line-height-l: 32px;
  --line-height-m: 24px;
  --line-height-s: 18px;
  --line-height-xs: 20px;
  --line-height-caption: 16px;

  --font-weight-regular: 400;
  --font-weight-bold: 600;
}

@layer utilities {
  .text-h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: var(--font-weight-bold);
  }

  .text-h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    font-weight: var(--font-weight-bold);
  }

  .text-h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
    font-weight: var(--font-weight-bold);
  }

  .text-h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    font-weight: var(--font-weight-bold);
  }

  .text-h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
    font-weight: var(--font-weight-bold);
  }

  .text-subtitle1 {
    font-size: var(--font-size-subtitle1);
    line-height: var(--line-height-subtitle1);
    font-weight: var(--font-weight-regular);
  }

  .text-subtitle2 {
    font-size: var(--font-size-subtitle2);
    line-height: var(--line-height-subtitle2);
    font-weight: var(--font-weight-regular);
  }

  .text-subtitle3 {
    font-size: var(--font-size-subtitle3);
    line-height: var(--line-height-subtitle3);
    font-weight: var(--font-weight-regular);
  }

  .text-subtitle4 {
    font-size: var(--font-size-subtitle4);
    line-height: var(--line-height-subtitle4);
    font-weight: var(--font-weight-regular);
  }

  .text-l {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    font-weight: var(--font-weight-regular);
  }

  .text-l-bold {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
    font-weight: var(--font-weight-bold);
  }

  .text-m {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: var(--font-weight-regular);
  }

  .text-m-bold {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    font-weight: var(--font-weight-bold);
  }

  .text-s {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-weight: var(--font-weight-regular);
  }

  .text-s-bold {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-weight: var(--font-weight-bold);
  }

  .text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-regular);
  }

  .text-xs-bold {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    font-weight: var(--font-weight-bold);
  }

  .text-caption {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    font-weight: var(--font-weight-regular);
  }

  .text-caption-bold {
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    font-weight: var(--font-weight-bold);
  }
}

html:not(.dark) {
  /* Light theme tokens */
  --bg: #f3f4f6; /* gray-100 */
  --fg: #334155; /* slate-700 */
  --surface: #ffffff;
  --border: #e5e7eb; /* gray-200 */
  --bg-hover: #f0f9ff; /* sky-50 */

  /* Дизайн токены PrimeVue --------------------------------------------------------------------- */
  /* https://primevue.org/datatable/#theming.styled */
  /* Table */
  /* ---------------- Header */
  --p-datatable-header-background: #ffffff;
  --p-datatable-header-cell-background: #ffffff;
  --p-datatable-header-cell-color: #64748b; /* slate-500 */

  /* ---------------- Body */
  --p-datatable-row-background: #ffffff;
  --p-datatable-row-color: #334155; /* slate-700 */
  --p-datatable-row-hover-background: #f0f9ff; /* sky-50 */
  --p-datatable-row-hover-color: var(--p-datatable-row-color);
  --p-datatable-header-border-color: #e5e7eb; /* gray-200 */
  --p-datatable-header-border-width: 1px;
  --p-datatable-header-cell-border-color: #e5e7eb; /* gray-200 */
  --p-datatable-body-cell-border-color: #e5e7eb; /* gray-200 */
  --p-datatable-transition-duration: 0ms;
  /* -------------------------------------------------------------------------------------------- */
}

html.dark {
  /* Dark theme tokens */
  --bg: #0b1220;
  --fg: #cbd5e1; /* slate-300 */
  --surface: #0f172a; /* slate-900 */
  --border: #334155; /* slate-700 */
  --bg-hover: #1e293b; /* slate-800 */

  /* Дизайн токены PrimeVue --------------------------------------------------------------------- */
  /* https://primevue.org/datatable/#theming.styled */
  /* Table */
  /* ---------------- Header */
  --p-datatable-header-background: #0f172a; /* slate-900 */
  --p-datatable-header-cell-background: #0f172a;
  --p-datatable-header-cell-color: #94a3b8; /* slate-400 */
  /* ---------------- Body */
  --p-datatable-row-background: #0f172a; /* darker per-row */
  --p-datatable-row-color: #cbd5e1; /* slate-300 */
  --p-datatable-row-hover-background: var(--bg-hover); /* unify hover */
  --p-datatable-row-hover-color: var(--p-datatable-row-color);
  --p-datatable-header-border-color: #334155; /* slate-700 */
  --p-datatable-header-border-width: 1px;
  --p-datatable-header-cell-border-color: #334155;
  --p-datatable-body-cell-border-color: #334155;
  --p-datatable-transition-duration: 0ms;
}

/* Что бы DataTable использовал токены темы */
.p-datatable-thead > tr > th {
  background-color: var(--p-datatable-header-cell-background) !important;
  color: var(--p-datatable-header-cell-color) !important;
}
.p-datatable-tbody > tr > td {
  background-color: var(--p-datatable-row-background) !important;
  color: var(--p-datatable-row-color) !important;
  border-color: var(--p-datatable-body-cell-border-color) !important;
}
.p-datatable-tbody > tr:hover > td {
  background-color: var(--p-datatable-row-hover-background) !important;
  color: var(--p-datatable-row-hover-color) !important;
}

/* Что бы не запаздывал переход цвета при смене темы
.p-datatable-thead > tr > th,
.p-datatable-tbody > tr > td {
  transition: none !important;
} */
